<main class="container">
  <% concerts.forEach(concert => { %>
    <a href="/concerts/<%= concert._id %>"
      <div class="columns is-multiline">
        <div class="column is-full">
          <h2 class="title"><%= concert.title %></h2>
        </div>
        <div class="column is-one-third-desktop">
          <img src="<%= concert.image %>" alt="<%= concert.name %>">
        </div>
        <div class="column">
          <h3 class="subtitle"><%= concert.date %></h3>
          <ul>
            <li><%= concert.performer1 %></li>
            <li><%= concert.performer2 %></li>
            <li><%= concert.performer3 %></li>
          </ul>
          <p><%= concert.description %></p>
        </div>
      </div>
    </a>
  <% }) %>
</main>
