
<div class="container">
  <div class="columns">
    <div class="column is-one-third-desktop">
      <img src="<%= concert.image %>" alt="<%= concert.name %>">
    </div>
    <div class="column is-two-thirds-desktop">
      <h2 class="title"><%= concert.title %></h2>
      <h2 class="subtitle"><%= concert.category.name %></h2>
      <h3 class="subtitle"><%= concert.date %></h3>
      <ul>
        <li><%= concert.performer1 %></li>
        <li><%= concert.performer2 %></li>
        <li><%= concert.performer3 %></li>
      </ul>
      <p><%= concert.description %></p>

      <% if(locals.isAuthenticated) { %>

          <a href="/concerts/<%= concert._id %>/edit" class="button is-primary">Edit</a>

          <form method="POST" action="/concerts/<%= concert._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger">Delete</button>
          </form>


          <hr />

          <ul class="comments">
            <% concert.comments.forEach(comment => { %>
              <li>
              <div class="box">
              <% if(comment.isOwnedBy(locals.currentUser) || locals.currentUser.isAdmin) { %>
                <form class="delete" method="POST" action="/concerts/<%= concert._id %>/comments/<%= comment._id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="delete">x</button>
                </form>
              <% } %>

              <% if(locals.currentUser.isAdmin && !comment.isModerated) { %>
                <form class="moderate" method="POST" action="/concerts/<%= concert._id %>/comments/<%= comment._id %>/moderate">
                  <input type="hidden" name="_method" value="PATCH">
                  <button class="moderate">moderate</button>
                </form>
              <% } %>

              <% if(comment.isModerated || locals.currentUser.isAdmin || comment.isOwnedBy(locals.currentUser)) { %>
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="http:fillmurray.com/100/100" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= comment.content %>
                      </p>
                    <% if(comment.user) { %>
                      <strong><%= comment.user.username %></strong>
                    <% } %>
                    </div>
                  </div>
                </article>
              <% } %>


                </div>
              </li>
            <% }) %>
          </ul>

          <form method="POST" action="/concerts/<%= concert._id %>/comments">
            <textarea class="textarea" name="content"></textarea>
            <button class="button is-primary">Submit</button>
          </form>
          <% } %>
    </div>
  </div>
</div>
