<div class="container show">
    <div class="">
      <img src="<%= concert.image %>" alt="<%= concert.name %>">
    </div>

    <% if(locals.isAuthenticated) { %>
      <% if(locals.currentUser.isAdmin) { %>
        <div class="admin-buttons">
        <a href="/concerts/<%= concert._id %>/edit" class="button is-primary">Edit</a>
        <form method="POST" action="/concerts/<%= concert._id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger">Delete</button>
        </form>
        </div>
      <% } %>
    <% } %>
    <div class="concert">
      <h2 class="title"><%= concert.title %></h2>
      <h3 class="subtitle"><%= concert.date %></h3>
      <ul>
        <li><%= concert.performer1 %></li>
        <li><%= concert.performer2 %></li>
        <li><%= concert.performer3 %></li>
      </ul>
      <p><%= concert.description %></p>
    </div>


      <% if(locals.isAuthenticated) { %>
          <hr />

          <ul class="comments">
            <% concert.comments.forEach(comment => { %>
              <li>
              <% if(comment.isModerated || locals.currentUser.isAdmin || comment.isOwnedBy(locals.currentUser)) { %>
              <div class="box">
              <% if(comment.isOwnedBy(locals.currentUser) || locals.currentUser.isAdmin) { %>
                <form class="delete" method="POST" action="/concerts/<%= concert._id %>/comments/<%= comment._id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="delete">x</button>
                </form>
              <% } %>

              <% if(locals.currentUser.isAdmin && !comment.isModerated) { %>
                <form class="moderate" method="POST" action="/concerts/<%= concert._id %>/comments/<%= comment._id %>/moderate">
                  <input type="hidden" name="_method" value="PATCH">
                  <button class="moderate">moderate</button>
                </form>
              <% } %>

              <% if(comment.isModerated || locals.currentUser.isAdmin || comment.isOwnedBy(locals.currentUser)) { %>
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="<%= comment.user.image %>" alt="User Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= comment.content %>
                      </p>
                    <% if(comment.user) { %>
                      <strong><%= comment.user.username %></strong>
                    <% } %>
                    </div>
                  </div>
                </article>
              <% } %>
                </div>
                <% } %>
              </li>
            <% }) %>
            <li>
                <form method="POST" action="/concerts/<%= concert._id %>/comments">
                  <textarea class="textarea" name="content"></textarea>
                  <button class="button is-primary">Submit</button>
                </form>
              <% } %>
            </li>
        </ul>
  </div>
</div>
